@import "../../_variables";

.value-container {
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.invest-value {
  background-color: $bg-color--1;
  min-height: 10px;
  width: 100%;
  flex-shrink: 0;
}
.adding-value {
  background-color: $action-color;
  width: 100%;
  flex-shrink: 0;
}
